# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
skylark_env/
venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Coverage reports
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints